name: ci

on:
  push:
    branches: ["master"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@v3
        with:
          version: "latest"
      - name: Install deps
        run: uv sync --dev
      - name: Black
        run: uv run black --check .
      - name: Mypy
        run: uv run mypy src
