name: release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - uses: astral-sh/setup-uv@v3
        with:
          version: "latest"
      - name: Build
        run: |
          uv pip install --system build
          python -m build
      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
